* {
	outline: 0;
	box-sizing: border-box;
}
body {
font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}







/* VIEW: HEADER */
.bg-primary {
    background-color: transparent !important;
}

.container-fluid.heading-contact {
    background: #182a61;
    padding: 0.5rem 0;
    text-align: right;
}

.container-fluid.heading-contact .col-md-12 div a {
    color: white;
    text-transform: uppercase;
    padding-right: 2rem;
	font-size:.9rem;
}

.container-fluid.heading-contact .col-md-12 div a:hover {
	text-decoration: none;
}

i.fa.fa-facebook-square {
    padding-right: 0!important;
}

.container-fluid.heading-contact .col-md-12 div a i {
	padding-right: .4rem;
	font-size:1.5rem
}

ul#main-menu li a {
    color: black;
    font-size: 0.9rem;
    margin-right: 2rem;
}









/* VIEW: HOMEPAGE */
.container-fluid.homepage-main-section {
    min-height: 75vh;
	background-image: url('wp-content/uploads/2020/11/Great_story_1280x460_forklift-in-truck.jpg');
	background-size: cover;
	position: relative;
}
.container-fluid.homepage-main-section div {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;
    top: 50%;
    background: #182a61;
    padding: 2rem!important;
    width: 25rem;
    color: white;
    padding: 20px;
}
.label-ask-for {
    right: 0;
    position: fixed;
    z-index: 99999;
    bottom: 10%;
    text-transform: uppercase;
    font-size: 1rem;
	background: #f47920;
	color: white;
	border: none;
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
	color: white;
	padding: 3px 5px;
}
.container-fluid.homepage-main-section div > * {
    font-weight: 300;
}

.container-fluid.homepage-main-section div > h1 {
    font-size: 1.5rem;
	font-weight: 600;
	padding-bottom: 2rem;
}

.container-fluid.homepage-main-section div > h2 {
    font-size: 1.2rem;
}

.container-fluid.homepage-main-section div > p {
    font-size: 1.2rem;
}

.container.about-us-section {
    padding: 3rem 0;
}

.container-fluid.about-section {
    padding: 8rem 0;
	background-image:url('wp-content/uploads/2020/11/map.png');
	background-color: #182a61;
	background-size:cover;
}

.homepage-apply-to-job textarea.wpcf7-form-control.wpcf7-textarea {
    min-width: 100%;
    margin: 0;
}

.h2heading-text {
	font-size: 1.8rem;
	font-weight: 300;
	padding-bottom: 2rem;
	position: relative;
}
.h2heading-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 10rem;
    height: 10px;
    border-bottom: 3px solid #182a61;
}

.h2heading-text strong{
	font-weight: 600;
}

.container.about-us-section .row .col-md-6 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container.for-client-section {
    padding: 6rem 0 2.5rem 0;
}

.paragraph-section {
    line-height: 2;
}

.homepage-apply-to-job select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
	border: 1px solid #182a61;
}

.homepage-apply-to-job .send-message {
    position: absolute;
    right: 1rem;
    bottom: 0.3rem;
    color: white;
    background-color: #182a61;
    border: none;
    border-radius: .35rem;
}

.highlights-section span {
    font-size: 5rem;
    color: #8db1d0;
    font-weight: 300;
}


.highlights-section p {
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    margin-bottom: 3rem;
}


.highlights-section div {
text-align: center;
}

.container.any-questions img {
    height: 40rem;
}

.container.any-questions .row .col-md-6:nth-of-type(2) {
    text-align: center;
}

.container.any-questions button {
    background-color: #182a61;
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: .3rem;
}

.container-fluid.footerBackground {
    background-color: #182a61;
    padding-top: 1.4rem;
}

.container-fluid.footerBackground .row .col-md-12 {
    text-align: center;
    color: white;
}

.container-fluid.footerBackground div ul {
    list-style: none;
    color: white;
	font-weight: 300
}

.container-fluid.footerBackground div ul h4{
    list-style: none;
    font-weight:600;
    color: white;
}
.container-fluid.footerBackground li a {
	color: white;
}

.container-fluid.footerBackground img {
	color: white;
}

.container-fluid.footerBackground li a i {
  margin-top: 0.2rem;
	color: white;
}

.container.any-questions .row .col-md-6:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container.any-questions .row .col-md-6:nth-of-type(1) button {
	width: max-content;
}

.container.our-services {
    padding: 5rem 0;
}

.container.our-services .col-md-6:nth-of-type(2) {
  display: flex;
	justify-content: center;
	flex-direction: column;
}


/* VIEW: CONTACT*/

.container.contact-main-section {
    padding: 2.5rem 0;
}

.company-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.company-linkedin, a.company-facebook {
	margin-right: 2rem;
    background-color: #F2F2F2;
    padding: 5px;
    font-size: 2.5rem;
    width: 5rem;
    height: 5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	color:#182a61;
	transition: .3s;
}

a.company-linkedin:hover, a.company-facebook:hover {
	color:#182a61;
	transform: scale(1.085);
}

.container.contact-main-section h2 {
    font-size: 1.5rem;
}


/* VIEW: CONTACT-FORM */
.wpcf7 {
    max-width: unset;
    margin: 0 auto!important;
}

textarea.wpcf7-form-control.wpcf7-textarea {
    min-width: 47vw;
	margin-left:2rem;
	border: 1px solid #182a61;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required,
input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email,
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	border: 1px solid #182a61;
}

form.wpcf7-form.init {
    position: relative;
    background-color: #F2F2F2;
    padding: 15px;
}

input.wpcf7-form-control.wpcf7-submit {
    display: none;
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

.contact-form-container {
    display: flex;
    flex-direction: row;
}

button.send-message {
    display: flex;
    min-width: 8rem;
    align-items: center;
    justify-content: center;
}

button.send-message i {
	padding-left: 1rem;
	color: white;
}

button.send-message {
    position: absolute;
    right: 0;
    bottom: -2rem;
	color: white;
	background-color: #182a61;
	border: none;
	border-radius: .35rem;
}

.container.our-services-second .row .col-md-4 .box-inside-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding: 0.7rem;
    border: 1px solid #182a61;
	border-radius: .25rem;
    min-height: 11rem;
	justify-content: center;
	transition: .35s;
}

.col-md-4.col-6 {
    max-height: 12rem;
}

.img-box {
	margin-bottom: 1rem;
}

.container-fluid.any-questions-fluid {
    margin-top: 10rem;
}

.img-box img {
    min-width: 72px;
}

.container.our-services-second .row .col-md-4 .box-inside-service span {
	text-align: center;	
	color: #182a61;
	font-weight: 600;
}

.box-inside-service:hover {
    box-shadow: 0 0 12px lightgray;
    transform: scale(1.035);
}

.container.team-section {
    min-height: 25rem;
    margin-top: 5rem;
}

.container-fluid.team-section img {
    min-height: 100%;
    z-index: 100;
    min-width: 100%;
}

.container-fluid.team-section {
    background-color: #182a61;
    margin-top: 2rem;
}

.col-md-3.col-6.about-text-section div span {
    color: white;
    padding-bottom: 2rem;
    display: block;
    position: relative;
}

.col-md-3.col-6.about-text-section div > * {
	color: white;
}


.col-md-3.col-6.about-text-section div span::after {
    content: '';
    position: absolute;
    min-width: 100%;
    height: 2px;
    background-color: white;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.container-fluid.team-section .row .col-md-4{
  padding: 0;
}

.col-md-3.col-6.about-text-section div {
    padding: 20px!important;
}

.col-md-3.col-6 {
    padding: 0;
}

h5.team-section-heading {
    margin-top: 7rem;
    margin-left: 3rem;
    font-size: 2rem;
}

.col-md-3.col-6.about-text-section {
	position: relative;
}

.container-fluid.contact-heading-image, .container-fluid.contact-heading-image div {
    padding: 0;
}

.col-md-6.col-6.coop-box {
    background-color: #182a61;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.3rem;
	max-width: 48% !important;
	margin: .5rem .5rem;
}

.col-md-6.col-6.coop-box span {
    text-align: center;
    color: white;
    padding: 0rem 0 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
	font-size: 1.4rem;
}

.col-md-6.col-6.coop-box p {
    text-align: center;
    color: white;
    font-weight: 300;
}

.container-fluid.footerBackground .row .col-md-3 {
    text-align: center;
}

.container-fluid.footerBackground .row .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}